$textColorBtn: #fff;
$borderRadiusBtn: 8px;

.button {
  max-width: 16rem;
  min-width: 20px;
  min-height: 25px;
  border-radius: $borderRadiusBtn;
  color: $textColorBtn;
  // max-height: 3.5rem;
  // margin: 2.5rem 1rem;
  // font-size: 24px;
  // font-weight: bold;
}
.primaryIcon-btn {
  background-color: #ff6745;
  width: 11rem;
  font-size: 20px;
}
.icon-button {
  margin-right: 1.5rem;
}
.primary-btn {
  background-color: #ff6745;
  width: 72px;
  margin: 0;
  margin-left: 0;
  font-weight: lighter;
}

.primaryOrder-btn {
  background-color: #ff6745;
  width: 9rem;
  font-size: 16px;
  height: 4rem;
}
.secondary-btn {
  &:disabled {
    font-size: 16px;
    // color: #000;
    background-color: #c4c4c4;
    height: 4rem;
  }
}
.tertiary-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
